<nav class="navbar navbar-expand-lg hidden" data-bs-theme="dark">
  <div class="container-fluid navbarcontainer">
    <!-- NAVBAR BRAND LOGO BUTTON WITH ERB FUNCTION-->

    <a href="tel:01798334433" class="navbar-nav">CALL 01798 334433</a>
    <!-- NAVBAR DROPDOWN BUTTON (WHEN SCALED) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Home", home_index_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Home Removals", home_index_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Our History", home_index_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Other Services", home_index_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", home_index_path, class:"nav-link"%>
        </li>

      </ul>
    </div>
  </div>
</nav>
